<section class="login-form">
  <form
  [formGroup]="loginForm" 
  novalidate 
  (ngSubmit)="loginSubmit()" 
  fxLayout="column" 
  fxLayoutAlign="center center" 
  fxGap="10px">
    <mat-form-field>
      <input
      matInput 
      type="email"
      placeholder="Your email"
      formControlName="email">
      <mat-error *ngIf="email.invalid">Missing or invalid email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
      matInput 
      type="password"
      placeholder="Password" 
      formControlName="password">
      <mat-error *ngIf="password.required">Password is required</mat-error>    
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
  </form>
</section>


<p>Form value: {{ loginForm.value | json }}</p>
<p>Form status: {{ loginForm.status | json }}</p>
